<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huojumu">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 显示系统窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 在 屏幕最顶部显示-->
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <!-- 更新重启 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name= "android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name="com.huojumu.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<meta-data-->
        <!--android:name="com.google.android.gms.ads.APPLICATION_ID"-->
        <!--android:value="${adsId}"/>-->
        <meta-data
            android:name="pid"
            android:value="${appid}" />
        <meta-data
            android:name="pse"
            android:value="${appse}" />

        <activity
            android:name="com.huojumu.main.activity.login.ActiveActivity"
            android:configChanges="keyboard|navigation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--&lt;!&ndash;<category android:name="android.intent.category.DEFAULT" />&ndash;&gt;-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.huojumu.main.activity.login.LoginActivity"
            android:configChanges="keyboard|navigation"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged">

        </activity>
        <activity
            android:name="com.huojumu.main.activity.home.HomeActivity"
            android:configChanges="keyboard|navigation"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name="com.huojumu.main.activity.work.DailyTakeOverActivity"
            android:configChanges="keyboard|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.huojumu.main.activity.function.InventoryActivity"
            android:configChanges="keyboard|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.huojumu.main.activity.function.InventoryDetailActivity"
            android:configChanges="keyboard|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.huojumu.main.activity.MainActivity"
            android:configChanges="keyboard|navigation"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.huojumu.main.activity.function.ChangePwdActivity"
            android:configChanges="keyboard|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.huojumu.main.activity.function.VipActivity"
            android:configChanges="keyboard|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.huojumu.main.activity.function.MaterialActivity"
            android:configChanges="keyboard|navigation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.huojumu.main.activity.function.PayByBoxActivity"
            android:configChanges="keyboard|navigation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.huojumu.main.activity.function.OrdersListActivity"
            android:configChanges="keyboard|navigation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.huojumu.main.activity.function.PayBackActivity"
            android:configChanges="keyboard|navigation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.huojumu.main.activity.function.SettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.huojumu.main.activity.function.PaymentActivity"
            android:configChanges="keyboard|navigation" />
        <activity
            android:name=".main.activity.function.OrderDetailActivity"
            android:configChanges="keyboard|navigation" />
        <!--<activity android:name=".main.activity.dialog.RegisterVipDialog"-->
        <!--android:configChanges="keyboard|navigation"/>-->

        <receiver android:name="com.huojumu.receiver.PosReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <service android:name=".services.MyPosService" />

        <receiver android:name=".receiver.UpdateRestartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>